SpectralConvxD/*.pdf
SpectralConvxD/*.out
SpectralConvxD/*.csv
SpectralConvxD/*.png
SpectralConvxD/*.pkl
SpectralConvxD/*.sh
SpectralConvxD/*.txt
SpectralConvxD/*.ipynb
*.egg-info
*.txt
SpectralConvxD/.vscode/
SpectralConvxD/.pytest_cache/
SpectralConvxD/.ipynb_*/
SpectralConvxD/.idea/
SpectralConvxD/tuner/
SpectralConvxD/Robustness/
SpectralConvxD/Data/
SpectralConvxD/_*_/
SpectralConvxD/mon_env/
build/
.venv
.idea
*.pkl