SpectralConvxD/*.pdf
SpectralConvxD/*.out
SpectralConvxD/*.pkl
SpectralConvxD/*.sh
SpectralConvxD/tuner/
SpectralConvxD/Robustness/
SpectralConvxD/Data
SpectralConvxD/.idea
SpectralConvxD/_*_
SpectralConvxD/mon_env
SpectralConvxD/*.txt
SpectralConvxD/*-info
